<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}iHouse{% endblock title %}</title>
    <!-- Favicon-->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block styles %}
    {% include "_styles.html" %}
    {% endblock styles %}
    {% block scripts %}
    {% include "_scripts.html" %}
    {% endblock scripts %}
    {% endblock head %}
</head>

<body>
    {% block body %}
    {% include "_navbar.html" %}
    {% block page_content %}
    <div class="container"></div>
    {% endblock page_content %}
    {% include "_footer.html" %}
    {% endblock body %}

</body>

</html>