{% extends "base.html" %}


{% block page_content %}
{{ super() }}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-2">
            <h1 class="fw-bolder">歡迎來到新北市</h1>
        </div>
    </div>
</header>

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- About District section-->
    <section class="bg-light py-4 border-bottom">
        <div class="container px-5 my-4">
            <div class="row gx-5 justify-content-center">
                <!-- Basic Info-->
                <div class="col-lg-7 col-xl-6">
                    <h3 class="fw-bold">新北市基本資料</h3>
                    <p class="lead"></p>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            面積：2,053平方公里
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            人口：4,019,898人
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            密度：1,958 人/平方公里
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            人口組成占比：0-14歲：12% | 15-64歲：73% | 65歲以上：15%
                        </li>
                    </ul>
                </div>
                <!-- Life Function 1 Info-->
                <div class="col-lg-3 col-xl-3">
                    <h3 class="fw-bold">新北市各區要點</h3>
                    <!-- <p class="my-2">各機能占全台比重</p> -->
                    <ul class="list-unstyled mb-4">
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            捷運：%
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            超市：%
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            醫院：%
                        </li>
                    </ul>
                </div>
                <!-- Life Function 2 Info-->
                <div class="col-lg-3 col-xl-3">
                    <p class="lead" style="margin-top:72px"></p>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            學校：%
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            公園：%
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            加油站：%
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7 py-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/img/map2.png" />
                </div>

            </div>
    </section>
    <!-- Model Predictive vs Real Data-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7 py-5"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="/static/img/New Taipei/predict_data.png" />
        </div>

        <!-- <div class="col-lg-9"><img class="features-img"
                src="/static/img/New Taipei/predict_data.png"/></div> -->
        <div class="col-lg-5">
            <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-megaphone"></i>
            </div>
            <h2 class="fw-bold">模型評估</h2>
            <p>根據。
            </p>
        </div>
    </div>
    <!-- Feature Importance-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/img/New Taipei/特徵_新北市全區.png"
                width="630 px" /></div>
        <div class="col-lg-5">
            <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-megaphone"></i>
            </div>
            <h2 class="fw-bold">影響房價因素</h2>
            <p>根據影響房價因素圖顯示，新北市整體主要受到：房屋與捷運距離(min_mrt)、房屋位於的行政區(section)、房屋是否有管委會(mgmt)、房屋與嫌惡設施的距離(min_inci)，及屋齡(age)等影響。本公司建議欲購新北市房屋者多加注意上述之影響因素。
            </p>
        </div>
    </div>
    <!-- Time Series Forecasting-Season-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/img/New Taipei/新北市1.png" width="630 px" />
        </div>
        <div class="col-lg-5">
            <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-graph-up"></i>
            </div>
            <h3 class="fw-bold">房價季節波動預測</h3>
            <p>根據房價季節波動預測圖顯示，新北市整體季節波動無明顯變化，唯3月房價是相對低點。本公司建議欲購新北市房屋者可注意3月份，作為評估房屋購入之時點。</p>
        </div>
    </div>
    <!-- Time Series Forecasting-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            {% include "new_taipei_time_series.html" %}
        </div>
        <div class="col-lg-5">
            <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-graph-up"></i>
            </div>
            <h2 class="fw-bold">房價預測</h2>
            <p>根據房價預測圖顯示，新北市整體2022年-2024年房價未有明顯漲跌變化。本公司建議欲購新北市房屋者可根據自身財務規劃做衡量。</p>
        </div>
    </div>


</div>
 <!-- Call to Action-->
<div class="container px-4 px-lg-5">
    <div class="my-5 py-5 text-center">
        <h2 class="fw-bolder">馬上了解新北市各行政區房價預測！</h2>
        <a class="btn btn-primary btn-lg " style="margin-top:15px" href="/predict_district">選區域</a>
    </div>

</div>

{% endblock page_content %}