<!-- Feedback section-->
<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">顧客回饋</h2>
            <p class="lead mb-0">我們的顧客喜歡與我們合作</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Feedback 1-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <img src="/static/img/customer1.ico">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-1">使用這個網站，讓我跟老公可以很清楚的了解新北未來房價的趨勢、做置產的考量！我家住在汐止，而老公以後的工作會在板橋，這個網站整理出新北各個行政區的細部資料，可以讓我知道板橋周遭行政區的生活機能大概是如何，非常貼心！考慮性價比我們選擇了土城作為未來置產的選擇！
                                </p>
                                <div class="small text-muted">- 林小姐, 新北汐止</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- feedback 2-->
                <div class="card">
                    <div class="card-body p-4">
                        <img src="/static/img/customer2.ico">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-1">很好理解的介面，讓我一個不了解新北市的人可以知道各個區域的趨勢和生活機能，未來有機會想要買在林口。</p>
                                <div class="small text-muted">- 陳先生, 新北中和</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>