{% extends "base.html" %}


{% block page_content %}
{{ super() }}
<!-- Header section-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-2">
            <h1 class="fw-bolder">歡迎來到新北市新店區</h1>
        </div>
    </div>
</header>

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- About District section-->
    <section class="bg-light py-4 border-bottom">
        <div class="container px-5 my-4">
            <div class="row gx-5 justify-content-center">
                <!-- Basic Info-->
                <div class="col-lg-7 col-xl-6">
                    <h3 class="fw-bold">新店區基本資料</h3>
                    <p class="lead"></p>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            面積：120.23平方公里
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            人口：301,550人
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            密度：2,508人/平方公里
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            人口組成占比：0-14歲：9% | 15-64歲：72% | 65歲以上：19%
                        </li>
                    </ul>
                </div>
                <!-- Life Function 1 Info-->
                <div class="col-lg-3 col-xl-3">
                    <h3 class="fw-bold">新店區生活機能</h3>
                    <p class="my-2">各機能占新北市比重</p>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            捷運：12.73%
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            超市：9.05%
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            醫院：10.53%
                        </li>
                    </ul>
                </div>
                <!-- Life Function 2 Info-->
                <div class="col-lg-3 col-xl-3">
                    <p class="lead" style="margin-top:72px"></p>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            學校：6.99%
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            公園：4.37%
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            加油站：10.45%
                        </li>
                    </ul>

                </div>
            </div>
    </section>
    <!-- Time Series Forecasting-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="/static/img/Time Series Forecasting/新店區.png" /></div>
        <div class="col-lg-5">
            <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-graph-up"></i>
            </div>
            <h3 class="fw-bold">房價預測</h3>
            <p>根據房價預測圖顯示，本區2022年-2024年房價未有明顯漲跌變化。本公司建議欲購此區房屋者可根據自身財務規劃做衡量。</p>
            <a class="btn btn-primary" href="#services">找方案</a>
        </div>
    </div>
    <!-- Time Series Forecasting-Season-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="/static/img/Time Series Forecasting_Season/新店區1.png" width="694 px"/></div>
        <div class="col-lg-5">
            <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-graph-up"></i>
            </div>
            <h3 class="fw-bold">房價季節波動預測</h3>
            <p>根據房價季節波動預測圖顯示，本區季節波動以3月及7月為房價相對高點，而12月為房價相對低點。本公司建議欲購此區房屋者可注意上述月份，作為評估房屋購入之時點。</p>
        </div>
    </div>
    <!-- Feature Importance-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="/static/img/Feature_Importance/特徵_新店區.png" width="694 px" /></div>
        <div class="col-lg-5">
            <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-megaphone"></i>
            </div>
            <h3 class="fw-bold">影響房價因素</h3>
            <p>根據影響房價因素圖顯示，本區主要受到：房屋與捷運距離(min_mrt)、房屋與公園距離(min_park)、房屋與加油站距離(min_gas)、屋齡(age)，及房屋與醫院距離(min_hos)等影響。本公司建議欲購此區房屋者多加注意上述之影響因素。
            </p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <span class="lead mb-0">還在猶豫該不該買房嗎？馬上了解精選推薦！</span>
        </div>
    </div>
    <!-- Pricing section-->
    <section class="bg-light py-4 border-bottom" id="services">
        <div class="container px-5 my-4">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">精選推薦</h2>
                <p class="lead mb-0">多款方案輕鬆選</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- 2022 House Price-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">2022</div>
                            <div class="mb-3">
                                <span class="display-3 fw-bold">32.43萬</span>
                                <span class="text-muted">/ 每坪均價</span>
                            </div>
                            <div class="d-grid"><a class="btn btn-primary" href="/loan">房貸方案</a></div>
                        </div>
                    </div>
                </div>
                <!-- 2023 House Price-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">2023</div>
 
                            <div class="mb-3">
                                <span class="display-3 fw-bold">33.72萬</span>
                                <span class="text-muted">/ 每坪均價</span>
                            </div>
                            <div class="d-grid"><a class="btn btn-primary" href="/loan">房貸方案</a></div>
                        </div>
                    </div>
                </div>
                <!-- 2024 House Pricee-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">2024</div>
                            <div class="mb-3">
                                <span class="display-3 fw-bold">35.10萬</span>
                                <span class="text-muted">/ 每坪均價</span>
                            </div>
                            <div class="d-grid"><a class="btn btn-primary" href="/loan">房貸方案</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action-->
    <div class="container px-4 px-lg-5">
        <div class="my-5 py-5 text-center">
            <h2 class="fw-bolder">馬上了解新北市各行政區房價預測！</h2>
            <a class="btn btn-primary btn-lg " style="margin-top:15px" href="/predict_district">選區域</a>
        </div>

    </div>
</div>

{% endblock page_content %}